body {
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.ibb.co/BZMk7Xf/fondo.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#reloj {
    background: linear-gradient(to bottom, #ffffff89 , #00000049);
    backdrop-filter: blur(5px);
    width: 23vw;
    height: 6vw;
    font-size: 2.7vw;
    font-family: fantasy;
    border: none;
    border-radius: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: black 0 5px 10px;
    grid-column: 2/3;
    grid-row: 1/2;
}

#am-pm {
    padding-left: 0.5rem;
}

p {
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.666) 0px 0px 20px;
    display: inline;
}

main {
    margin: 2.5vh auto;
    width: 95vw;
    height: 95vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
    justify-items: center;  
}

button {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    line-height: 50px;
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: black 0 0 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5%;
    box-shadow: inset rgba(0, 0, 0, 0.8) 0 -50px 20px, rgba(173, 173, 173, 0.204) 0 0 0 10px, black 0 0 20px 1px;
    transition: all 0.3s;
    background-position: center;
    background-size: cover;
}

#traductor, #gmail, #imgbb, #trello, #github, #colorhunt, #alura, #linkedin {
    position: relative;
    top: 6%;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 4vw;
    height: 4vw;
    box-shadow: inset rgba(0, 0, 0, 0.8) 0 0 20px, rgba(41, 97, 116, 0.336) 0 0 0 10px, black 0 0 20px 1px;
}

#github, #colorhunt, #alura, #linkedin {
    top: 78%;
}

#youtube, #google {
    box-shadow: inset rgba(0, 0, 0, 0.8) 0 -50px 20px, rgba(41, 97, 116, 0.336) 0 0 0 10px, black 0 0 20px 1px;
}

button:hover {
    cursor: pointer;
    transform: scale( 1.05, 1.05);
}

#youtube {
    background-image: url("https://i.ibb.co/ScHg01C/youtube.png");
}

#traductor {
    right: 30%;
    background-image: url("https://i.ibb.co/74HMWxq/traductor.jpg");
}

#gmail {
    right: 10%;
    background-image: url("https://i.ibb.co/L8cjntJ/gmail.jpg");
}

#imgbb {
    left: 10%;
    background-image: url("https://i.ibb.co/wdPZQkg/imgbb.jpg");
    background-size: 320% 190%;
}

#trello {
    left: 30%;
    background-image: url("https://i.ibb.co/cDFdScP/trello.png");
    background-size: 130% 150%;
}

#github {
    right: 30%;
    background-image: url("https://i.ibb.co/nDmYjbr/github.png");
    background-size: 180% 170%;
}

#colorhunt {
    right: 10%;
    background-image: url("https://i.ibb.co/Dk4Hm0h/colorhunt.png");
    
}

#alura {
    left: 10%;
    background-image: url("https://i.ibb.co/2c9NnHS/alura.png");
    
}

#linkedin {
    left: 30%;
    background-image: url("https://i.ibb.co/TmdxrrS/linkedin.png");
    background-size: 400% 190%;
}

#google {
    background-image: url("https://i.ibb.co/kmFrW1S/google.png" );
}

#platzi {
    background-image: url("https://i.ibb.co/d2HXG1L/platzi.png");
}    

#twitch {
    background-image: url("https://i.ibb.co/QbbTkRK/twitch.jpg");
    width: 100%;
}

#chatgpt {
    background-image: url("https://i.ibb.co/5FzY9vV/chatgpt.png");
}